/*html {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
    background-size: 100% 100%;
}*/

html, body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-size: 100% 100%;
}

body {
    /*background-image: url("../images/pic-kehila/background_img.png");*/
    /*background-size: 100% 100%;*/
    position: relative;
}

@font-face {
    font-family: 'Alef-Regular';
    src: url('fonts/Alef-Regular.otf') format('truetype');
    src: local('Alef-Regular'),url('fonts/Alef-Regular.eot') format('eot'), url('fonts/Alef-Regular.svg') format('svg'),url('fonts/Alef-Regular.ttf') format('truetype'),url('fonts/Alef-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'MyriadHebrew-Regular';
    src: url('fonts/MyriadHebrew-Regular.otf') format('otf');
    src: local('MyriadHebrew-Regular'), url('fonts/MyriadHebrew-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'MyriadHebrew-Bold';
    src: url('fonts/MyriadHebrew-Bold.otf') format('otf');
    src: local('MyriadHebrew-Bold'), url('fonts/MyriadHebrew-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'MyriadHebrew-BoldIt';
    src: url('fonts/MyriadHebrew-BoldIt.otf') format('otf');
    src: local('MyriadHebrew-BoldIt'), url('fonts/MyriadHebrew-BoldIt.otf') format('truetype');
}

@font-face {
    font-family: 'MyriadHebrew-It';
    src: url('fonts/MyriadHebrew-It.otf') format('otf');
    src: local('MyriadHebrew-It'), url('fonts/MyriadHebrew-It.otf') format('truetype');
}


@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('fonts/MyriadPro-Regular.otf') format('otf');
    src: local('MyriadPro-Regular'), url('fonts/MyriadPro-Regular.otf') format('truetype');
}


@font-face {
    font-family: 'Alef-Bold';
    src: url('fonts/Alef-Bold.eot');
    format('eot');
    src: local('Alef-Bold'), url('fonts/Alef-Bold.woff') format('woff'), url('fonts/Alef-Bold.ttf') format('truetype'), url('fonts/Alef-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'MyriadPro';
    src: url('fonts/MyriadPro-Regular.otf');
    src: local('MyriadPro'), url('fonts/MyriadPro-Regular.otf') format('truetype');
}


@media only screen and ( min-width: 1053px ) {
    body {
        background-size: 100% 100%;
    }
}

#top {
    padding-top: 61px;
}

.post-meta {
    display: none;
}

.post-edit-link {
    display: none;
}

#breadcrumbs {
    font-family: 'Alef-Regular';
    text-align: right;
    text-indent: 34px;
    font-size: 20px;
    background-color: #6e95ad;
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}


/*#breadcrumbs:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -26px;
    height: 57px;
    width: 104%;
    left: -17px;
    background-image: url("../images/pic-kehila/Home-shadow.png");
    background-size: 100% 100%;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}*/


#breadcrumbs:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -30px;
    height: 64px;
    width: 104%;
    left: -17px;
    background-image: url("../images/pic-kehila/light-shadow.png");
    background-size: 100% 100%;
}


/******************header******************************/

#right-side-poster {
    height: 100%;
    width: 285px;
    background-color: rgba(255,255,255,1);
    position: absolute;
    z-index: -1;
    right: -14px;
}

/*a.sf-with-ul {
font-weight: bold;
}*/

#mobile_nav.closed {
    font-weight: bold;
    font-size: 17px;
}

.main-callender {
    background-color: rgba(255,255,255,0.5);
}

.sf-sub-indicator {
    display: none;
}

ul.nav li {
    margin-left: 0px;
    padding: 20px 13px 0 13px;
    /*width: 100%;*/
    text-align: center;
    z-index: 15;
}



#primary img {
    position: relative;
    top: -14px;
}

#menu {
    background: #887399;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

#logo {
    right: 0px;
    z-index: 6;
    top: -60px;
    margin: auto;
}

#search-form {
    position: absolute;
    left: 0px;
    top: -61px;
    box-shadow: 0px 1px 0px #a5a7a8;
}

#tagline p:first-child {
    position: relative;
    z-index: 6;
    text-align: center;
    width: 102%;
    top: -96px;
    color: #828282;
    font-family: 'Alef-Regular';
    letter-spacing: 4.9px;
    text-indent: -23px;
}

#menu .sub-menu {
    font-weight: 100;
}

#title2-home-page {
    text-align: center;
    position: relative;
    top: -70px;
    font-size: 40px;
    letter-spacing: 10.0px;
    word-spacing: 4px;
    margin-top: 14px;
    text-indent: -7px;
}

#content-home-page.main-text-homepage p:first-child, #content-home-page.main-text-homepage p span:first-child {
    text-align: justify;
    letter-spacing: 4px;
    text-indent: 0px;
    padding: 0px;
    color: #828282 !important;
    text-shadow: none;
    font-size: 21px;
    font-family: 'Alef-Regular';
}

#content-home-page.main-text-homepage p:first-child {
    width: 944px;
    padding-right: 6px;
    text-align: justify;
}


#content-home-page {
    top: -10px;
}


#wrapper1-castoum:before {
    background: url("../images/footer-top-centerbg.png") no-repeat top center;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 140px;
    height: 57px;
    width: 104%;
    left: -17px;
}

#content-home-page p:first-child {
    color: #828282;
    text-align: center;
    top: -30px;
    padding: 0px;
    font-size: 30px;
    line-height: 28px;
}

#tagline .quote2 {
    top: -80px;
    font-size: 40px;
    letter-spacing: 14.1px;
    word-spacing: 2px;
    width: 990px;
    text-indent: -6px;
}

.main-text-homepage {
    font-family: 'Alef-Regular';
    display: block;
    color: #828282;
    text-align: right;
    position: relative;
    max-width: 990px;
    margin: auto;
}

ul.nav {
    float: right;
    padding: 20px 193px 0px 193px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    padding-top: 0;
    height: 54px;
    font-weight: bold;
}


/*@media only screen and ( min-width: 768px ) and ( max-width: 960px ) {
    #search-form {
        left: 0px;
    }
}*/


/*.service a.readmore {
    float: none;
    height: 77px;
    background: none;
    position: relative;
    top: -128px;
}

.service a.readmore span {
    display: none;
}*/


.service h3 {
    display: none;
}

#homeService1, #homeService4 {
    margin-left: 20px;
}

#homeService3, #homeService6 {
    padding-right: 0px;
}


#tagline {
    text-shadow: none;
}

#homeService4, #homeService5, #homeService6 {
    padding-top: 20px;
}

#homeService5 {
}

#homeService6 {
}

@media only screen and ( max-width: 767px ) and (min-width: 479px) {
    #homeService3 {
        padding-left: 22px;
    }
}


#portfolio-items > a > span {
    line-height: 29px;
    color: gray;
}
/******about******/

/*.about-container .entry.clearfix.post.full p {
    color: green;
}*/


h1.title.about-title {
    text-align: center;
    background-image: url("../images/pic-kehila/about_button.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 90px;
    font-size: 23px;
    color: #9D9D9D;
    line-height: 108px;
    text-indent: -73px;
    margin-bottom: 20px;
    background-position-y: 2px;
    position: relative;
    top: 6px;
    z-index: 1;
}

#container-aboutpage {
    margin-bottom: 78px;
    margin-top: -55px;
}

/*container.about-container {
    background-color: #2089A2;
}*/

#content-full-textpage {
    margin-top: -20px;
    font-family: 'Alef-Regular';
}

#mobile_menu li a {
    display: block;
}

div#content-full-buildpage {
    font-size: 30px;
    text-align: center;
}

.main-homegal #et_pt_gallery.clearfix.main-gal {
    background: none;
    width: 986px;
}

.about-container #breadcrumbs {
    text-align: right;
    text-indent: 34px;
    font-size: 20px;
    background-color: #2089A2;
}

.about-container #breadcrumbs .raquo, .about-container #breadcrumbs a {
    color: white;
}

.clearfix.about-clearfix p {
    color: #909193;
    font-size: 20px;
}


.main-general-text #hr {
    background-color: rgba(255,255,255,0.5);
}


#full.about-clearfix {
    box-sizing: border-box;
    background: none;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 75px;
    padding-bottom: 70px;
    width: 93%;
    margin: auto;
    background-color: rgba(255,255,255,0.6);
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 32px -2px rgba(0,0,0,0.52);
}

/******end-about******/

/********main-gallery*************/


.hometitle.recentworks {
    display: none;
}

#wrap-service {
    height: 395px;
    width: 989px;
    position: relative;
    right: -15px;
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 55px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

#footer:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 114px;
    height: 57px;
    width: 1030px;
    background-image: url("../images/pic-kehila/Home-shadow.png");
    background-size: 100% 100%;
    margin: auto;
    left: 0px;
    right: 0px;
}

#wrap-service:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -31px;
    height: 57px;
    width: 105%;
    left: -24px;
    background-image: url("../images/pic-kehila/light-shadow.png");
    background-size: 100% 100%;
}


#wrap-service:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -35px;
    height: 64px;
    width: 105%;
    left: -24px;
    background-image: url("../images/pic-kehila/light-shadow.png");
    background-size: 100% 100%;
}


.main-post-title {
    position: absolute;
    display: block;
    background: rgba(149,149,149,0.55);
    width: 94%;
    z-index: 500000000;
    bottom: -40px;
    transition: all .3s;
    -webkit-transition: all 0.3s;
    margin: auto;
    left: 0px;
    right: 0px;
    font-size: 20px;
    height: 35px;
    line-height: 34px;
    border-radius: 9px;
    color: white;
    text-align: center;
    border: 1px solid white;
    text-shadow: 2px 1px 2px rgba(25, 35, 42, 0.8);
}

.et_pt_item_image:hover .main-post-title {
    bottom: 5px;
}

.et_pt_item_image {
    overflow: hidden;
}

#title-khilagal {
    background-image: url("../images/pic-kehila/gallerynrkoda.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    line-height: 102px;
    text-indent: -77px;
    font-size: 32px;
}

.big-wrap-galpage #et_pt_gallery.main-gal {
    background: none;
}
/*#et_pt_gallery\20 main-gal {
    margin: auto;
    width: 990px;
}*/

.more-icon.gal {
    left: 75px !important;
}


/********end-main-gallery*************/
/********contact*************/
#main-contact {
    width: 91%;
    margin: auto;
    left: 0px;
    right: 0px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.title.c-title.title-in-mainpage {
    background-position-x: 579px;
    text-indent: -535px;
    background-image: url("../images/pic-kehila/contact_dot.png");
}

#et-contact {
    position: relative;
    width: 513px;
    margin-right: 30px;
    margin-top: -27px;
}


.kehila-details {
    color: #575758;
    font-size: 20px;
    width: 345px;
    text-shadow: none;
    font-family: 'Alef-Regular';
    text-align: right;
}


#kehila-address {
    width: 260px;
    margin-top: 13px;
}

#kehila-phone {
    margin-top: 13px;
}

#kehila-fax {
    margin-top: 13px;
}

#conect-good-point {
    display: block;
    line-height: 59px;
    width: 315px;
    height: 42px;
    text-indent: 68px;
    background-image: url("../images/pic-kehila/facebook.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-right: -7px;
    margin-top: 36px;
    bottom: 41px;
    position: absolute;
}

.castoum_contant {
    background-color: rgba(255,255,255,0.7);
    height: 347px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 167px;
    padding-top: 62px;
    text-align: right;
}

#et_contact_right {
    right: 0px;
    left: 0px;
    float: none !important;
    text-shadow: none;
    font-weight: bold;
    width: 310px !important;
}

#et_contact_right > p {
    line-height: 33px;
    font-size: 16px;
    text-indent: 20px;
}

#et_contact_left#et__left {
    float: none;
}

#et-contact p input.input {
    width: 340px;
    height: 29px;
    font-size: 20px;
    color: #353535 !important;
    border-radius: 6px !important;
    float: right;
    font-family: 'Alef-Regular';
}


.clearfix.wrap-message-contact {
    width: 355px;
    height: 131px;
}

#et_contact_form > p {
    margin-bottom: 20px;
    margin-right: 1px;
}

#content-full.my-content-full {
    height: auto;
}

#et_contact_message {
    font-size: 20px;
    font-family: inherit;
}

#et_contact_reset {
    display: none;
}

#full.full-contact {
    /*padding: 0px 0px;
    padding-top: 30px;*/
    /*background-color: rgba(255,255,255,0.52);*/
}

#contact-wrapper {
    width: 70%;
    margin: auto;
    height: 485px;
    background-color: rgba(255,255,255,0.4);
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 32px -2px rgba(0,0,0,0.52);
}

#contact-wrapper.point-contact-wrapper {
    width: 930px;
    position: relative;
}



#et-contact p #et_contact_captcha {
    float: none;
}

#et-contact-message {
    position: absolute;
    right: 302px;
    color: #BC1111;
    text-shadow: none;
    bottom: 81px;
    margin-right: 84px;
    text-align: right;
    width: 150px;
    display: inline-block;
}

#et-contact-message ul {
    list-style: initial;
}

#et_contact_submit {
    right: 374px !important;
    top: -54px !important;
    background: #6e95ad !important;
    width: 98px !important;
    font-family: 'Alef-Regular';
}


#hompage-contact-details {
    display: inline-block;
    position: absolute;
    margin-right: 109px;
    width: 355px;
    margin-top: 63px;
    height: 417px;
    top: 0px;
    left: 0px;
}


h1.title.c-title {
    text-shadow: none;
    text-align: center;
    position: relative;
    top: -50px;
    background-image: url("../images/pic-kehila/contactus.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 87px;
    line-height: 100px;
    text-indent: -53px;
    color: #353535;
    font-size: 22px;
    padding-bottom: 0px;
}

#wrapper1-castoum {
    -webkit-box-shadow: 2px -10px 25px -4px rgba(0,0,0,0.52);
    -moz-box-shadow: 2px -10px 25px -4px rgba(0,0,0,0.52);
    box-shadow: 2px -10px 25px -4px rgba(0,0,0,0.52);
}


#wrapper1-castoum.point-wrapper1-castoum {
    padding-top: 68px;
    padding-bottom: 30px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    position: relative;
}


#wrapper1-castoum.point-wrapper1-castoum:before {
    background: url("../images/footer-top-centerbg.png") no-repeat top center;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
    content: "";
    position: absolute;
    z-index: 1;
    top: -56px;
    height: 57px;
    width: 100%;
    left: 2px;
}




#wrapper2-castoum {
    background: url(../images/shadow-bar-centerbg.png) no-repeat top center;
    background-position-y: -40px;
}

#page-wrapper {
    background-color: rgba(255,255,255,0.52);
    height: 227px;
    z-index: 0;
    width: 960px;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
}
/*-------------------news-------------------*/
#content-area.news {
    background-image: none;
    /*background-color: rgba(255,255,255,0.52);*/
    padding: 0;
}

#content-area.news #left-area {
    width: 100%;
}

#content-area.news #contact-wrapper {
    width: 100%;
    height: auto;
}

#footer {
    height: 142px;
    background-color: #587db4;
}

#content-area.news #left-area img {
    max-width: 90%;
    height: auto;
    padding: 0 5% 20px 5%;
    display: block;
    margin: auto;
}

.text-image-page {
    margin-top: 30px;
    font-family: 'Alef-Regular';
}

.text-image-page strong {
    font-family: 'Alef-Regular';
}

#sidebar {
    font-family: 'Alef-Regular';
}

#post-content-wrapper {
    font-family: 'Alef-Regular';
    min-height: 120px;
    color: black;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 35px;
    padding-left: 35px;
    position: relative;
    width: 704px;
    right: -16px;
    font-size: 15px;
    text-shadow: none;
    text-align: justify;
    padding-top: 20px;
}

.entry.clearfix.post {
    font-family: 'Alef-Regular';
}

#content-area.news h1.title.c-title {
    background-position-x: 50%;
    text-indent: -60px;
    /*background-image: url("../images/pic-kehila/whats_new2.png");*/
}

#intro > div > div {
    width: 100%;
}

#content-area.news .castoum_contant {
    height: auto;
    padding-bottom: 37px;
}

#content-area.news #wrapper1-castoum {
    height: auto;
    background-color: rgba(255,255,255,0.52);
    background-position-y: -44px;
}



.center-highlight.main-callender #wrapper1-castoum:before {
    display: none;
}




#content-area.news #contact-wrapper p span {
    color: #353535 !important;
}

#content-area.news #contact-wrapper, #content-area.news #wrapper1-castoum .text-container {
    width: 80%;
    /*padding: 30px 0 30px 0;*/
    color: #353535;
    margin: auto;
    font-size: 15px;
}

#content-area.news #wrapper1-castoum .text-container > p:first-child {
    padding-top: 30px;
}

#content-area.news #wrapper1-castoum .text-container > p:last-child {
    padding-bottom: 30px;
}

#content-area.news #contact-wrapper {
    width: 90%;
    padding: 40px 5%;
    padding-top: 0;
}
/**************calender***************/
#contact-wrapper > iframe {
    display: block;
    margin: auto;
}


/*************last-post***********************/

/*.my-last-post #recent-comments-2, .my-last-post #archives-2, .my-last-post #categories-2, .my-last-post #meta-2 {
    display: none;
}*/

.big-contact {
    background-color: rgba(255,255,255,0.5);
}

#new-post-title {
    background-image: url("../images/pic-kehila/whats_new2.png");
    background-repeat: no-repeat;
    height: 100px;
    background-position: center;
    text-align: center;
    font-size: 29px;
    text-indent: -64px;
    line-height: 108px;
}

.my-last-post #left-area p {
    color: #353535;
    width: 100%;
    font-size: 15px;
    text-shadow: none;
    text-align: justify !important;
}



#post-content-wrapper p:last-child {
    padding-bottom: 40px;
}


.my-last-post #content-area {
    padding-bottom: 0px;
}


.my-last-post #left-area > div.entry.clearfix.post > h1 {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 15px 5px 15px;
    background-color: #587db4;
    ;
    border-radius: 36px;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    right: 14px;
    bottom: 0px;
    z-index: 1;
}


/********gallery******/
#full.my-own-gall {
    background-color: rgba(255,255,255,0.5);
    width: 990px;
    position: relative;
    right: -14px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
}

#main-gallery-title {
    margin: 15px 0px 42px 0px;
    font-size: 25px;
    background-image: url("../images/pic-kehila/gallerynrkoda.png");
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    text-indent: -58px;
    height: 92px;
    line-height: 98px;
    color: #9B9B9B;
}

.my-own-gall h1.title {
    text-align: center;
    margin-bottom: 35px;
}

#et_pt_gallery.main-gal {
    background-color: rgba(255,255,255,0.5);
}

div#et_pt_gallery {
    width: 990px;
    background-color: rgba(255,255,255,0.5);
    margin: auto;
    height: 100%;
}

.et_pt_gallery_entry.album {
    margin-left: 28px;
}

.my-own-gall #et_pt_gallery.main-gal {
    position: relative;
    right: -8px;
    padding-right: 0px;
}

/*echo '<br/>';*/
