body {
    /*background-image: url("../images/pic-kehila/background_img.png");*/
    background-size: 100% 100%;
}

#top {
    padding-top: 52px;
}

/******************header******************************/

ul.nav li {
    margin-left: 0px;
}

#primary img {
    position: relative;
    top: -14px;
}

#menu {
    background: #FCD26E;
    border-radius: 15px 15px 0px 0px;
}

#logo {
    right: 0px;
    z-index: 6;
    top: -52px;
}

#search-form {
    position: absolute;
    left: 0px;
    top: -100px;
}

#tagline p:first-child {
    position: absolute;
    z-index: 6;
    text-align: center;
    width: 100%;
    top: -100px;
    color: #2089A2;
}

ul.nav {
    float: right;
    padding: 20px 190px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
}


/*@media only screen and ( min-width: 768px ) and ( max-width: 960px ) {
    #search-form {
        left: 0px;
    }
}*/
